@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

<h3><i>Welcome to the homepage of</i></h3> <h1>BOOKWORLD</h1><br/>
<h3><u>It is: @DateTime.Now.ToString()</u></h3> 
<img src="https://i.imgur.com/NuWJ24q.png" id="minion-image"/>
<p class="lead"><i>Here you can rent the newest books.</i></p>
   

