@using MVC1_BookWorld.Models
@model Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

 <h4>MembershipType: @Model.MembershipType.Name</h4>

@if (Model.BirthDate != null)
{
    <h4>
        Birthdate: @Model.BirthDate
    </h4>
}


