@using MVC1_BookWorld.Models
@model Book
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<i><h3>@Model.Name</h3></i>
<ul>
    <li>Genre:@Model.Genre.Name </li>
    <li>ReleaseDate: @Model.DateAdded</li>
    <li>No.in stock: @Model.NumberInStock</li>
</ul>
 