@using MVC1_BookWorld.Models
@model List<Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="button" class="btn btn-primary" value="New Book" onclick="location.href = '@Url.Action("New","Books")'"/>

<table class="table table-bordered table-hover">
    <thead>
    <tr>

        <td>
            <h3>Books</h3>
        </td>

        <td>
            <h3>Genre</h3>
        </td>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td>
               @*@Html.ActionLink(item.Name, "Details",  new {id = item.ID})*@
               @Html.ActionLink(item.Name, "Edit", new { id = item.ID })         @*goes to edit page*@
       
             </td>
            <td>
                @item.Genre.Name
            </td>
        </tr>
    }
    </tbody>
</table>

