@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@*elmah.axd ....in detail exception after deployment needs some configuration to see*@
@* No method, wrong argument  by IIS, static resource from url*...in all these cases 404.html redirected in webconfig@